<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
body {
  background-image: url('/static/image/workstation5.jpg');
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'image/sg_image.jpg' %}" width="50" height="40" style="border-radius : 25px 25px">
  &nbsp;
  <a class="navbar-brand" href="#">Swetha's Portfolio</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home">Home</a>
      <a class="nav-item nav-link" href="profile">profile</a>
      <a class="nav-item nav-link" href="education">Education</a>
      <a class="nav-item nav-link" href="skills">Skills</a>
      <a class="nav-item nav-link" href="contact">contact_us</a>

    </div>
  </div>
</nav>


</body>
</html>

{% block content %}

{% endblock %}