{% extends 'base.html' %}
{% block content %}

<br><br>
{% include 'div.html'%}<br>
<h1 align="center">Contact_Us</h1><br>
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
  <label for="mail" class="form-label">Enter your name</label>
  <input type="text" class="form-control" id="name"  name="name" placeholder="enter your name">
</div>
    <div class="mb-3">
  <label for="mail" class="form-label">Email address</label>
  <input type="email" class="form-control" id="mail" name="mail"placeholder="enter your mail">
</div>
<div class="mb-3">
  <label for="mail" class="form-label">Example textarea</label>
  <textarea class="form-control" id="message" name="message"rows="3"></textarea>
    <br>
  </form>
    <center>
    <button type="submit" class="btn btn-success">Submit</button>
    </center>
</div>

</div>
</div>

{% endblock %}