{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br>
{% include 'div.html'%}
<br>
<h1 align="center">Profile</h1>
<h5 style="text-align:justify;padding:15px;">
    Secure a responsible career opportunity to fully utilize my training and skills, while making a significant contribution to the success of the company.

</h5>
<h3 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    FullStack Developer</h3>
<br>
<div class="row justify-content-center">
        <div class="col-4">
            <img src="{% static 'image/imgo.jfif' %}" width="200px" height="180px">
        </div>
    <div class="col-6">
        <div class="row justify-content-center">
         <div class="col-6">
        <ul>
             <li>Birthday : 10-02-1995</li><br>
          <li>website : www.swetha.com</li><br>
          <li>Phone : 9550721075</li><br>
          <li>city : Karimnagar</li><br>
        </ul>
            </div>
         <div class="col-6">
             <ul>
             <li>Age : 26</li><br>
          <li>Degree : Master's</li><br>
          <li>Email : swethagudla2@gmail.com</li>
          <li>Freelance : Available</li><br>
        </ul>
             </div>
            </div>
    </div>
  </div>
<div class="container">
    <p style="text-align:justify;">
        To construct my career as a respected team member of a professional organization contributing to its progress by using knowledge, work experience etc.
    <br>Extremely accountable training manager focused on rising and conducting exclusive training sessions for a better indulgent of Telecom Company’s product and processes. Trained a team of 30 trainers and did different leadership and motivational training resources for organizing companywide training workshops.
    </p>
</div>
</div>



{% endblock %}