{% extends 'base.html' %}
{% load static %}

{% block content %}
<body id="aboutpic">
    <html>
<body>
    <div style="width: 50%; height: 50%;  float:left;">
        <h4>-</h4>
        <img style="padding-left: 50px; padding-top: 80px; padding-bottom: 50px; margin-left: 140px;" src="{% static 'images/pp.jpg' %}" alt="Admin" class="rounded-circle" width="350">
        
    </div>
    <div style="width: 50%; height: 50%;  float:right;">
        <h2 style="font-family: cursive; color: blanchedalmond; margin-left: 10px; margin-top: 100px;">Learn About Me..</h2>
        <p style="font-family: cursive; color: blanchedalmond; margin-top: 80px; margin-right: 100px;"><b>Seven billion people are on this Earth, and everybody is different from the rest of others. There is nothing without purpose in this world. Everything has some purpose. Humans are the best creation, and each person is exclusive. Thus, writing about myself, I’m here to express myself that what I see, what I experience and what I plan for my life. I try myself to be modest, passionate, devoted, hardworking and honest.</b></p>
    </div>
</body>
</html>
</body>
{% endblock content %}