{% extends 'base.html' %}

{% block content %}
<body id="intro">
    <div class="row intro-content">

        <div class="column large-9 mob-full intro-text">
            <h3>Hello, I'm Suraj Kumar</h3>
            <h1>
                Python Coder <br>
                and Web Developer <br>
                Based In Hyderabad City.
            </h1>
        </div>
        <div class="intro-grid"></div>
        <!-- <div class="intro-pic"></div> -->

    </div> <!-- end row -->
</body>
{% endblock content %}

