
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }

#intro {
    background-image: url(../images/bgimg.jpg);
    
}

#profilepic {
    background-image: url(../images/bgimg.jpg);
}

#contactpic {
  background-image: url(../images/bgimg.jpg);
}

#aboutpic {
  background-image: url(../images/bgimg.jpg);
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.card-body {
    border-style: solid;
    /* flex: 1 1 auto; */
    min-height: 2px;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 20rem;
    padding-bottom: 2rem;
}

.box {
    padding: 7rem;
    border-style: solid;
}

.container{
    border: #e2e8f0;
    margin-top:20px;
    color: whitesmoke;
    text-align: left;   
}

.main-body {
    padding: 20px;
    color: whitesmoke;
}

      .intro-pic {
          border-radius: 5%;
        background-color: #02182c;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url(../images/pic2.png);
        background-size: cover;
        position: absolute;
        top: 15%;
        right: 0;
        bottom: 0;
        left: 50%;
        opacity: .85;
      }
      .intro-grid {
        background-image: url(../images/pattern-dot-grid.svg);
        background-size: 24px 24px;
        opacity: .15;
        position: absolute;
        top: 30%;
        right: 0;
        bottom: 0;
        left: 30%;
      }

      .intro-text h3 {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 0.333;
        color: #5660f0;
        padding-left: 12%;
        padding-top: 14%;
      }
      
      .intro-text h1 {
        font-size: 3.8rem;
        font-weight: 500;
        line-height: 1.179;
        color: #ffffff;
        padding-left: 12%;
        padding-top: 0%;
      }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem; }
  
  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 1rem; }
  
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent; }
    a:hover {
      color: #0056b3;
      text-decoration: underline; }
  
  .container-fluid {
    width: 100%;
    padding-right: 55px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto; }
  
  @media (min-width: 992px) {
    .order-lg-first {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }
    .order-lg-last {
      -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
      order: 13; }
     }
 
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem; }
    
    .navbar > .container,
    .navbar > .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  
  .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  
  
  .navbar-collapse {
    flex-grow: 1; }
  
 

  @media (min-width: 992px) {
    
      
        .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem; }
      
      .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto; }
      .navbar-expand-lg .navbar-toggler {
        display: none; } }
  
 

  
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5); }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
      color: rgba(0, 0, 0, 0.7); }
    .navbar-light .navbar-nav .nav-link.disabled {
      color: rgba(0, 0, 0, 0.3); }
  
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9); }
  
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1); }
 
  .bg-dark {
    background-color: #343a40 !important; }
 
  .border-dark {
    border-color: #343a40 !important; }
 
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  
  .justify-content-center {
    justify-content: center !important; }
  
  .justify-content-between {
    justify-content: space-between !important; }
  
  .justify-content-around {
    justify-content: space-around !important; }
  
  .align-items-start {
    align-items: flex-start !important; }
  
  .align-items-end {
    align-items: flex-end !important; }
  
  .align-items-center {
    align-items: center !important; }
 
  .mb-0,
  .my-0 {
    margin-bottom: 0 !important; }
  
  .ml-auto,
  .mx-auto {
    margin-left: auto !important; }

  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #fc7fb2; }
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .social-media p a {
    border: 1px solid #e6e6e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px; }
    .social-media p a span {
      color: #4d4d4d; }
    .social-media p a:hover {
      background: #fc7fb2;
      border-color: #fc7fb2; }
      .social-media p a:hover span {
        color: #fff; }
    @media (max-width: 991.98px) {
      .social-media p a {
        border-color: #fff;
        width: 30px;
        height: 30px; }
        .social-media p a span {
          color: #fff; } }
  

          body{
            margin-top:20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;    
        }
        .main-body {
            padding: 15px;
        }
        .card {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        }
        
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        
        .card-body {
            color: black;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }
        
        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }
        
        .gutters-sm>.col, .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }
        .mb-3, .my-3 {
            margin-bottom: 1rem!important;
        }
        
        .bg-gray-300 {
            background-color: #e2e8f0;
        }
        .h-100 {
            height: 100%!important;
        }
        .shadow-none {
            box-shadow: none!important;
        }


    .float-container {
          border: 3px solid #fff;
          padding: 20px;
      }
      
      .float-child {
          width: 50%;
          float: left;
          padding: 20px;
          border: 2px solid red;
      } 